<div id="error" title="error"></div>

<div>
    <button disabled id="reload_photos" type="button">reload photos</button>
    <select disabled id="show_license">
        <option <% unless @user.show_license %>selected <% end %>value="">show photos with any license</option>
        <% @licenses.each do |license| %>
            <option <% if license == @user.show_license %>selected <% end %>value="<%= license.id %>"><%= license.name %></option>
        <% end %>
    </select>
    <select disabled id="show_privacy">
        <% @show_privacies.each do |show_privacy, name| %>
            <option <% if show_privacy == @user.show_privacy %>selected <% end %>value="<%= show_privacy %>"><%= name %></option>
        <% end %>
    </select>
    <select disabled id="show_ignored">
        <% @show_ignoreds.each do |show_ignored, name| %>
            <option <% if show_ignored == @user.show_ignored %>selected <% end %>value="<%= show_ignored %>"><%= name %></option>
        <% end %>
    </select>
</div>

<div grid id="photos">
    <div class="spinner"></div>
</div>

<div>
    <select disabled id="select_license">
        <option value="" selected>select license</option>
        <% @licenses.each do |license| %>
            <option value="<%= license.id %>"><%= license.name %></option>
        <% end %>
    </select>
    <button disabled id="apply_license" type="button">apply license</button>
    <span id="license_link"></span>
</div>

<script>
var licenses = <%= @licenses.to_json %>;
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>
