<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">

        <title>flickr license</title>

        <link rel="stylesheet" href="https://cdn.concisecss.com/v4.1/concise.min.css">
        <link rel="stylesheet" href="https://cdn.concisecss.com/concise-ui/v0.2/concise-ui.min.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/blitzer/jquery-ui.css">
        <link href="https://cdn.rawgit.com/cc-icons/cc-icons/1.2.1/css/cc-icons.min.css" rel="stylesheet">

        <style>
        .flickrblue {
            color: #0063dc;
        }
        .flickrpink {
            color: #ff0084;
        }
        #error iframe {
            height: 100%;
            width: 100%;
        }
        #photos {
            height: 66vh;
            overflow-y: auto;
        }
        /* work around the '*+* { margin-top: 1.5rem; }' rule from Concise CSS that interferes with CC Icons */
        i.cc {
            margin-top: 0px;
        }
        </style>
    </head>
    <body>
        <header container>
            <div grid="center">
                <div column><span class="flickrblue">flick</span><span class="flickrpink">r</span> license</div>
                <div column style="text-align: right;"><a href="<%= @user.photosurl %>"><img src="<%= @user.buddyicon %>"> <%= @user.username %></a> <% if @user.fullname && !@user.fullname.empty? %>(<%= @user.fullname %>)<% end %> | <a href="/logout">logout</a></div>
            </div>
        </header>
        <main container>
            <%= yield %>
        </main>
    </body>
</html>
